<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-init-method="init" default-destroy-method="dispose">

	<!-- File based flow manager service-->
    <bean id="ftpUploadActionService" class="it.geosolutions.geobatch.ftp.client.upload.FTPUploadActionService">
        <property name="available">
            <value>true</value>
        </property>
        <property name="id">
            <value>ftpUploadActionService</value>
        </property>
        <property name="description">
            <value>ftpUploadActionService</value>
        </property>
        <property name="name">
            <value>fsFlowManagerService</value>
        </property>
    </bean>
    
    <bean id="ftpDownloadActionService" class="it.geosolutions.geobatch.ftp.client.download.FTPDownloadActionService">
        <property name="available">
            <value>true</value>
        </property>
        <property name="id">
            <value>ftpDownloadActionService</value>
        </property>
        <property name="description">
            <value>ftpDownloadActionService</value>
        </property>
        <property name="name">
            <value>fsFlowManagerService</value>
        </property>
    </bean>
    
    <bean id="ftpDeleteActionService" class="it.geosolutions.geobatch.ftp.client.delete.FTPDeleteActionService">
        <property name="available">
            <value>true</value>
        </property>
        <property name="id">
            <value>ftpDeleteActionService</value>
        </property>
        <property name="description">
            <value>ftpDeleteActionService</value>
        </property>
        <property name="name">
            <value>fsFlowManagerService</value>
        </property>
    </bean>
    
    <bean id="ftpSupportRegistrar" class="it.geosolutions.geobatch.ftp.client.FTPAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>   
        
</beans>
