<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
        
	<!-- Environment Initialization -->
	<bean id="splittingService" class="it.geosolutions.geobatch.action.splitting.SplittingService">
		<property  name="id" value="splittingService"/>
    	<property name="description" value="splittingService"/>
    	<property name="name" value="splittingService"/>
    </bean>	      

    <bean id="splittingRegistrar" class="it.geosolutions.geobatch.action.SplittingAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>

</beans>
