<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- Environment Initialization -->
	<bean id="##NAME_ACT##GeneratorService" class="it.geosolutions.geobatch.##NAME_APP##.##NAME_ACT_LOWER##.##NAME_ACT##GeneratorService">
		<constructor-arg type="String"><value>##NAME_ACT##GeneratorService</value></constructor-arg>
		<constructor-arg type="String"><value>##NAME_ACT##GeneratorService</value></constructor-arg>
		<constructor-arg type="String"><value>##NAME_ACT##GeneratorService</value></constructor-arg>
	</bean>
	<bean id="##NAME_ACT##AliasRegistrar" class="it.geosolutions.geobatch.##NAME_APP##.##NAME_ACT_LOWER##.##NAME_ACT##AliasRegistrar" lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
</beans>