<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- The annotation processor used for discover annotations that indicates how manage Action Service -->
    <bean id="actionAnnotationScanner" class="it.geosolutions.geobatch.annotationProcessor.ActionAnnotationScanner"  depends-on="fsFlowManagerService" />

</beans>