<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>

    <http use-expressions="true">
        <intercept-url pattern="/index.*" filters="none" />
        <intercept-url pattern="/error/**" filters="none" />

        <intercept-url pattern="/ftp.*" access="hasRole('ADMIN')" />
        <intercept-url pattern="/ftpUsers.*" access="hasRole('ADMIN')" />
        <intercept-url pattern="/newFtpUser.*" access="hasRole('ADMIN')" />

        <intercept-url pattern="/dispose.*" access="hasRole('ADMIN')" />
        <intercept-url pattern="/resume.*" access="hasAnyRole('ADMIN', 'POWERUSER')" />
        <intercept-url pattern="/pause.*" access="hasAnyRole('ADMIN', 'POWERUSER')" />
        
        <intercept-url pattern="/consumerDispose.*" access="hasRole('ADMIN')" />
        <intercept-url pattern="/consumerResume.*" access="hasAnyRole('ADMIN', 'POWERUSER')" />
        <intercept-url pattern="/consumerPause.*" access="hasAnyRole('ADMIN', 'POWERUSER')" />
        
    	<intercept-url pattern="/*.do" access="isAuthenticated()" />

        <intercept-url pattern="/**" access="permitAll" />

        <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error=1" default-target-url="/index.html"/>
    	<logout invalidate-session="true" logout-success-url="/index.html"/>
        <remember-me />
        
        <!-- Uncomment to limit the number of sessions a user can have -->
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
    </http>

    <authentication-manager>
	    <authentication-provider>
	        <jdbc-user-service data-source-ref="dataSource-gb-users" 
	        		role-prefix="" 
	        		users-by-username-query="SELECT USER_NAME AS username, USER_PASSWORD AS password, USER_ENABLED AS enabled FROM GBUser WHERE USER_NAME = ?" 
	        		authorities-by-username-query="SELECT USER_NAME AS username, USER_ROLE AS authority FROM GBUser WHERE USER_NAME = ?" />
	    </authentication-provider>
    </authentication-manager>
    
    <!-- authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <user-service>
            	<user name="alessio" password="24c4e5a9f984e85ce46edd14cf2078e4" authorities="ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager -->

</beans:beans>
