<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>

    <http use-expressions="true">
        <intercept-url pattern="/index.*" filters="none" />
    	<intercept-url pattern="/flow*" access="isAuthenticated()" />
        <!-- Disable web URI authorization, as we're using <global-method-security> and have @Secured the services layer instead
        <intercept-url pattern="/listAccounts.html" access="isRememberMe()" />
        <intercept-url pattern="/post.html" access="hasRole('ROLE_TELLER')" />
        -->
        <intercept-url pattern="/**" access="permitAll" />
        <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error=1" default-target-url="/index.html"/>
    	<logout logout-success-url="/index.html"/>
        <remember-me />
        
        <!-- Uncomment to limit the number of sessions a user can have -->
        <!-- session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management -->
    </http>

    <!-- authentication-manager>
	    <authentication-provider>
	        <jdbc-user-service data-source-ref="dataSource" 
	        		role-prefix="" 
	        		users-by-username-query="SELECT name AS username, password, 'true' AS enabled FROM authuser WHERE name = ?"
	        		authorities-by-username-query="SELECT user_id AS username, rolename AS authority FROM userrole WHERE user_id = ?" />
	    </authentication-provider>
    </authentication-manager -->
    
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <user-service>
            	<user name="alessio" password="24c4e5a9f984e85ce46edd14cf2078e4" authorities="ROLE_SUPERVISOR, ROLE_USER" /> <!-- AlexAa -->
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
