<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="true">
          
  <appender name="rolling" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.base}/logs/geobatch.log" /> 
    <param name="DatePattern" value="yyyy-MM-dd" /> 
    <layout class="org.apache.log4j.PatternLayout">
     <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
		</layout>
  </appender>  

  <logger name="it.geosolutions.geobatch" additivity="false">
    <level value ="debug" />
    <appender-ref ref="rolling"/>
  </logger>
        
  <root additivity="true">
    <level value ="info" />
    <appender-ref ref="rolling"/>
  </root>  

</log4j:configuration>
