<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="sasEsbService" class="it.geosolutions.geobatch.sas.esb.SasEsbService">
		<property name="id" value="sasEsbService"/>
    	<property name="description" value="sasEsbService"/>
    	<property name="name" value="sasEsbService"/>
    </bean>	    
    
	<!-- Aliases Registrars -->
    <bean id="sasEsbRegistrar" class="it.geosolutions.geobatch.sas.SasEsbAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
</beans>