<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

		 
	<!-- Environment Initialization -->
	
	<!-- lscv08-SEM fluxes  -->	
	<bean id="MERCATORGeneratorService" class="it.geosolutions.geobatch.nurc.sem.lscv08.MERCATORGeneratorService">
		<constructor-arg type="String"><value>MERCATORGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>MERCATORGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>MERCATORGeneratorService</value></constructor-arg>	
	</bean>
	<bean id="MERCATOR_INGVLike_GeneratorService" class="it.geosolutions.geobatch.nurc.sem.lscv08.MERCATOR_INGVLike_GeneratorService">
		<constructor-arg type="String"><value>MERCATOR_INGVLike_GeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>MERCATOR_INGVLike_GeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>MERCATOR_INGVLike_GeneratorService</value></constructor-arg>	
	</bean>

	<bean id="NRLNCOMGeneratorService" class="it.geosolutions.geobatch.nurc.sem.lscv08.NRLNCOMGeneratorService">
		<constructor-arg type="String"><value>NRLNCOMGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>NRLNCOMGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>NRLNCOMGeneratorService</value></constructor-arg>	
	</bean>
	
	<bean id="INGVGeneratorService" class="it.geosolutions.geobatch.nurc.sem.lscv08.INGVGeneratorService">
		<constructor-arg type="String"><value>IGNVGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>INGVGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>INGVGeneratorService</value></constructor-arg>	
	</bean>
	
	<bean id="NURCWPSOutput2WMCGeneratorService" class="it.geosolutions.geobatch.nurc.sem.wmc.NURCWPSOutput2WMCGeneratorService">
		<constructor-arg type="String"><value>NURCWPSOutput2WMCGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>NURCWPSOutput2WMCGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>NURCWPSOutput2WMCGeneratorService</value></constructor-arg>	
	</bean>

	<bean id="WMCGeneratorService" class="it.geosolutions.geobatch.nurc.sem.wmc.WMCGeneratorService">
		<constructor-arg type="String"><value>WMCGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>WMCGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>WMCGeneratorService</value></constructor-arg>	
	</bean>
	
	<!-- SHOM -->
	<bean id="SHOMGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.shom.SHOMGeneratorService">
		<constructor-arg type="String"><value>SHOMGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>SHOMGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>SHOMGeneratorService</value></constructor-arg>	
	</bean>
		
	<bean id="NURCSEMActionsAliasRegistrar" class="it.geosolutions.geobatch.nurc.sem.NURCSEMActionsAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
    
    <!-- REP10 -->
    	<!-- MARS3D -->
<!--	<bean id="MARS3DGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.mars3d.MARS3DGeneratorService">
			<property  name="id">
	    		<value>MARS3DGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>MARS3DGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>MARS3DGeneratorService</value>
	    	</property>	
		</bean>
-->		
		<!-- ROMS -->
<!--	<bean id="ROMSGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.roms.ROMSGeneratorService">
			<property  name="id">
	    		<value>ROMSGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>ROMSGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>ROMSGeneratorService</value>
	    	</property>	
		</bean>
-->		
		<!-- NETTUNO -->
<!--	<bean id="NETTUNOGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.meteoam.nettuno.NETTUNOGeneratorService">
			<property  name="id">
	    		<value>NETTUNOGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>NETTUNOGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>NETTUNOGeneratorService</value>
	    	</property>	
		</bean>
-->		
		<!-- ILM -->
<!--	<bean id="ILMGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.meteoam.ilm.ILMGeneratorService">
			<property  name="id">
	    		<value>ILMGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>ILMGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>ILMGeneratorService</value>
	    	</property>	
		</bean>
-->		
		<!-- ELM -->
<!--	<bean id="ELMGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.meteoam.elm.ELMGeneratorService">
			<property  name="id">
	    		<value>ELMGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>ELMGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>ELMGeneratorService</value>
	    	</property>	
		</bean>
-->	
		<!-- ECMWFWave -->
<!--	<bean id="ECMWFWaveGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.meteoam.ecmwf.wave.ECMWFWaveGeneratorService">
			<property  name="id">
	    		<value>ECMWFWaveGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>ECMWFWaveGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>ECMWFWaveGeneratorService</value>
	    	</property>	
		</bean>
-->		
		<!-- ECMWFMeteo -->
<!--	<bean id="ECMWFMeteoGeneratorService" class="it.geosolutions.geobatch.nurc.sem.rep10.meteoam.ecmwf.meteo.ECMWFMeteoGeneratorService">
			<property  name="id">
	    		<value>ECMWFMeteoGeneratorService</value>
	    	</property>
	    	<property name="description">
	    		<value>ECMWFMeteoGeneratorService</value>
	    	</property>
	    	<property name="name">
	    		<value>ECMWFMeteoGeneratorService</value>
	    	</property>	
		</bean>
		
		
    
    <bean id="OctaveMetocsAliasRegistrar" class="it.geosolutions.geobatch.octave.actions.OctaveAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
--> 
</beans>
