<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="shapefileGeoServerGeneratorService" class="it.geosolutions.geobatch.geoserver.shapefile.ShapeFileGeneratorService">
		<constructor-arg type="String"><value>shapefileGeoServerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>shapefileGeoServerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>shapefileGeoServerGeneratorService</value></constructor-arg>	
	</bean>

    <bean id="ShapeFileRegistrar" class="it.geosolutions.geobatch.geoserver.shapefile.ShapeFileAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
</beans>