<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="LammaGribMetadataExtractorService" class="it.geosolutions.geobatch.lamma.extract.LammaGribMetadataExtractorService">
		<constructor-arg type="String"><value>LammaGribMetadataExtractorService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaGribMetadataExtractorService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaGribMetadataExtractorService</value></constructor-arg>
    </bean>

	<bean id="LammaGribBuilderService" class="it.geosolutions.geobatch.lamma.build.LammaGribBuilderService">
		<constructor-arg type="String"><value>LammaGribBuilderService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaGribBuilderService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaGribBuilderService</value></constructor-arg>
    </bean>

	<bean id="LammaMosaicDataService" class="it.geosolutions.geobatch.lamma.configure.LammaMosaicDataService">
		<constructor-arg type="String"><value>LammaMosaicDataService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaMosaicDataService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaMosaicDataService</value></constructor-arg>
    </bean>
    
    <bean id="LammaContourBuilderService" class="it.geosolutions.geobatch.lamma.build.LammaContourBuilderService">
		<constructor-arg type="String"><value>LammaContourBuilderService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaContourBuilderService</value></constructor-arg>
    	<constructor-arg type="String"><value>LammaContourBuilderService</value></constructor-arg>
    </bean>
    
	<!-- Aliases Registrars -->
    <bean id="lammaRegistrar" class="it.geosolutions.geobatch.lamma.LammaAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
    
</beans>
