<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">


	<context:annotation-config />

	<!-- Environment Initialization -->
	<bean id="aisAnomaliesGeoServerGeneratorService"
		class="it.geosolutions.geobatch.ais.anomalies.AISAnomaliesGeoServerGeneratorService">
		<property name="id">
			<value>aisAnomaliesGeoServerGeneratorService</value>
		</property>
		<property name="description">
			<value>aisAnomaliesGeoServerGeneratorService</value>
		</property>
		<property name="name">
			<value>aisAnomaliesGeoServerGeneratorService</value>
		</property>
		<property name="aisAnomaliesDAO" ref="aisAnomaliesDAO"/>
	</bean>
	
	<bean id="aisCoverageGeoServerGeneratorService"
		class="it.geosolutions.geobatch.ais.raster.AISCoverageGeoServerGeneratorService">
		<property name="id">
			<value>aisCoverageGeoServerGeneratorService</value>
		</property>
		<property name="description">
			<value>aisCoverageGeoServerGeneratorService</value>
		</property>
		<property name="name">
			<value>aisCoverageGeoServerGeneratorService</value>
		</property>
	</bean>
	

</beans>