<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="geotiffGeoServerGeneratorService" class="it.geosolutions.geobatch.geoserver.geotiff.GeoTIFFGeoServerGeneratorService">
		<constructor-arg type="String"><value>geotiffGeoServerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>geotiffGeoServerGeneratorService</value></constructor-arg>
        <constructor-arg type="String"><value>geotiffGeoServerGeneratorService</value></constructor-arg>
    </bean>	
    
    <bean id="geotiffFolderGeoServerConfiguratorService" class="it.geosolutions.geobatch.geoserver.geotiff.GeoTIFFFolderGeoServerConfiguratorService">
		<constructor-arg type="String"><value>geotiffFolderGeoServerConfiguratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>geotiffFolderGeoServerConfiguratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>geotiffFolderGeoServerConfiguratorService</value></constructor-arg>
    </bean>

	<!-- Environment Initialization -->
	<bean id="geotiffOverviewsEmbedderService" class="it.geosolutions.geobatch.geotiff.overview.GeoTiffOverviewsEmbedderService">
		<constructor-arg type="String"><value>geotiffOverviewsEmbedderService</value></constructor-arg>
    	<constructor-arg type="String"><value>geotiffOverviewsEmbedderService</value></constructor-arg>
    	<constructor-arg type="String"><value>geotiffOverviewsEmbedderService</value></constructor-arg>
    </bean>	    
        
	<!-- Environment Initialization -->
	<bean id="geoTiffRetilerService" class="it.geosolutions.geobatch.geotiff.retile.GeoTiffRetilerService">
		<constructor-arg type="String"><value>geoTiffRetilerService</value></constructor-arg>
    	<constructor-arg type="String"><value>geoTiffRetilerService</value></constructor-arg>
    	<constructor-arg type="String"><value>geoTiffRetilerService</value></constructor-arg>
    </bean>	      

    <bean id="flowGeoTIFFRegistrar" class="it.geosolutions.geobatch.geotiff.GeoTIFFAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>

</beans>