<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="geowebcacheGeneratorService" class="it.geosolutions.geobatch.gwc.GWCGeneratorService" depends-on="gwcRegistrar">
		<property  name="id">
    		<value>geowebcacheGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>geowebcacheGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>geowebcacheGeneratorService</value>
    	</property>	
	</bean>

    <bean id="gwcRegistrar" class="it.geosolutions.geobatch.gwc.GWCAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>

</beans>