<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="geoserverRegistrar" class="it.geosolutions.geobatch.geoserver.GeoServerAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>



	<bean id="geoserverReloadRegistrar" class="it.geosolutions.geobatch.geoserver.reload.GeoServerReloadAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
    
    <bean id="GeoServerReloadService" class="it.geosolutions.geobatch.geoserver.reload.GeoServerReloadService">
		<constructor-arg type="String"><value>GeoServerReloadService</value></constructor-arg>
		<constructor-arg type="String"><value>GeoServerReloadService</value></constructor-arg>
		<constructor-arg type="String"><value>GeoServerReloadService</value></constructor-arg>
	</bean>

</beans>