<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="BeamGeorectifierService" class="it.geosolutions.geobatch.beam.BeamGeorectifierService">
		<constructor-arg type="String"><value>BeamGeorectifierService</value></constructor-arg>
    	<constructor-arg type="String"><value>BeamGeorectifierService</value></constructor-arg>
        <constructor-arg type="String"><value>BeamGeorectifierService</value></constructor-arg>
    </bean>	

    <bean id="FlowGeorectifierRegistrar" class="it.geosolutions.geobatch.beam.BeamGeorectifierAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>

</beans>