<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<!-- FTP USER DAO -->

	<bean id="ftpPropsDAO"
		class="it.geosolutions.geobatch.ftpserver.dao.hibernate.HibFtpPropsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory-gb-ftp-server" />
		</property>
	</bean>

	<bean id="ftpConfigDAO"
		class="it.geosolutions.geobatch.ftpserver.dao.hibernate.HibFtpServerConfigDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory-gb-ftp-server" />
		</property>
	</bean>

	<bean id="ftpUserDAO"
		class="it.geosolutions.geobatch.ftpserver.ftp.FTPUserDAOImpl">
		<property name="userDAO" ref="gbUserDAO"/>
		<property name="ftpPropsDAO" ref="ftpPropsDAO"/>
	</bean>

	<bean id="gbUserManager" class="it.geosolutions.geobatch.ftpserver.ftp.GeoBatchUserManager">
		<property name="ftpUserDAO" ref="ftpUserDAO"/>
	</bean>

	<bean id="geoBatchServer" class="it.geosolutions.geobatch.ftpserver.server.GeoBatchServer">
		<property name="serverConfigDAO" ref="ftpConfigDAO"/>
		<property name="userManager" ref="gbUserManager"/>
	</bean>
</beans>
