<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd" 
         default-init-method="init" 
         default-destroy-method="dispose">

   <context:annotation-config/>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:gb.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>

	<bean id="alias" class="it.geosolutions.geobatch.xstream.Alias">
		<property name="aliasRegistry" ref="aliasRegistry" />
	</bean>

	<!-- Environment Initialization -->
	<bean id="globalConfig" class="it.geosolutions.geobatch.global.XStreamCatalogLoader"
		depends-on="catalog,settingsProcessor">
		<constructor-arg ref="catalog" />
		<constructor-arg ref="alias" />
        <property name="settingsCatalog" ref="settingsCatalog"/>
	</bean>

	<!-- XStream flow manager DAO -->
	<bean id="XStreamFlowConfigurationDAOService"
		class="it.geosolutions.geobatch.catalog.dao.file.xstream.XStreamDAOService">
		<constructor-arg ref="alias" />
 		<constructor-arg type="String" value="XStreamFlowConfigurationDAOService"/>
    	<constructor-arg type="String" value="XStream based FlowConfigurationDAOService"/>
    	<constructor-arg type="String" value="XStreamFlowConfigurationDAOService"/>
		
<!--		<property name="id">-->
<!--			<value>XStreamFlowConfigurationDAOService</value>-->
<!--		</property>-->
<!--		<property name="description">-->
<!--			<value>XStream based FlowConfigurationDAOService</value>-->
<!--		</property>-->
<!--		<property name="name">-->
<!--			<value>XStreamFlowConfigurationDAOService</value>-->
<!--		</property>-->
	</bean>

    <bean id="settingsDAO" class="it.geosolutions.geobatch.settings.GBSettingsDAOXStreamImpl">
        <property name="alias" ref="alias"/>
        <property name="dataDirHandler" ref="dataDirHandler"/>
        <property name="relativeDir" value="settings"/>
    </bean>

</beans>
