<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	  <property name="corePoolSize" value="30" />
	  <property name="maxPoolSize" value="300" />
	  <property name="queueCapacity" value="200" />
	</bean>

	<bean id="dataDirHandler" class="it.geosolutions.geobatch.catalog.file.DataDirHandler">
	</bean>
    	
    <!-- Catalog Initialization -->
    <bean id="catalog" class="it.geosolutions.geobatch.catalog.file.FileBasedCatalogImpl" depends-on="taskExecutor">
	    <constructor-arg type="String"><value>catalog</value></constructor-arg>
    	<constructor-arg type="String"><value>catalog</value></constructor-arg>
    	<constructor-arg type="String"><value>File system based catalog</value></constructor-arg>
	    <!-- property  name="executor">
    		<ref bean="taskExecutor"/>
    	</property-->	      	
        <property name="dataDirHandler" ref="dataDirHandler"/>
	</bean>

    
    <!-- File based event generator service based on the filesystem monitor -->
    <bean id="fsEventGeneratorService" class="it.geosolutions.geobatch.flow.event.generator.file.FileBasedEventGeneratorService" depends-on="fsmSPIFinder" >
    	<constructor-arg type="String"><value>fsEventGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>fsEventGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>File system based event generator service</value></constructor-arg>
    </bean>

    
    <!-- File based flow manager service-->
    <bean id="fsFlowManagerService" class="it.geosolutions.geobatch.flow.file.FileBasedFlowManagerService"  depends-on="fsmSPIFinder" >
<!--    	<constructor-arg type="boolean"><value>true</value></constructor-arg>-->
    	<constructor-arg type="String"><value>fsFlowManagerService</value></constructor-arg>
    	<constructor-arg type="String"><value>fsFlowManagerService</value></constructor-arg>
    	<constructor-arg type="String"><value>File based flow manager service</value></constructor-arg>
    </bean>
    
    
    

</beans>
