<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/AIS</property>
		<property name="connection.username">pguser</property>
		<property name="connection.password">pguser</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernatespatial.postgis.PostgisDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Enabled the second-level cache-->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">30</property>
		<property name="hibernate.c3p0.max_statements">150</property>
		<property name="hibernate.c3p0.idle_test_period">30</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.cache.use_structured_entries">false</property>

		<property name="hibernate.generate_statistics">false</property>

		<!--Enabled the query_cache-->
		<property name="cache.use_query_cache">true</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="it.geosolutions.geobatch.ais.model.AISAnomalies" />
		

	</session-factory>

</hibernate-configuration>
