<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-init-method="init" default-destroy-method="dispose">

	<!-- File based flow manager service-->
    <bean id="ftpUploadActionService" class="it.geosolutions.geobatch.ftp.client.upload.FTPUploadActionService">
        <constructor-arg type="String"><value>ftpUploadActionService</value></constructor-arg>
        <constructor-arg type="String"><value>ftpUploadActionService</value></constructor-arg>
        <constructor-arg type="String"><value>fsFlowManagerService</value></constructor-arg>
    </bean>
    
    <bean id="ftpDownloadActionService" class="it.geosolutions.geobatch.ftp.client.download.FTPDownloadActionService">
        <constructor-arg type="String"><value>ftpDownloadActionService</value></constructor-arg>
        <constructor-arg type="String"><value>ftpDownloadActionService</value></constructor-arg>
        <constructor-arg type="String"><value>fsFlowManagerService</value></constructor-arg>
    </bean>
    
    <bean id="ftpDeleteActionService" class="it.geosolutions.geobatch.ftp.client.delete.FTPDeleteActionService">
        <constructor-arg type="String"><value>ftpDeleteActionService</value></constructor-arg>
        <constructor-arg type="String"><value>ftpDeleteActionService</value></constructor-arg>
        <constructor-arg type="String"><value>fsFlowManagerService</value></constructor-arg>
    </bean>
    
    <bean id="ftpSupportRegistrar" class="it.geosolutions.geobatch.ftp.client.FTPAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>   
        
</beans>
