<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

    
    
    <!-- File based event generator service based on the filesystem monitor -->
    <bean id="fsEventGeneratorService" class="it.geosolutions.geobatch.flow.event.generator.file.FileBasedEventGeneratorService" depends-on="fsmSPIFinder" >
    	<property  name="id">
    		<value>fsEventGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>File system based event generator service</value>
    	</property>
    	<property name="name">
    		<value>fsEventGeneratorService</value>
    	</property>    	
    </bean>
    
    
    <!-- File based flow manager service-->
    <bean id="fsFlowManagerService" class="it.geosolutions.geobatch.flow.file.FileBasedFlowManagerService" depends-on="fsmSPIFinder" >
    	<property  name="id">
    		<value>fsFlowManagerService</value>
    	</property>
    	<property name="description">
    		<value>File based flow manager service</value>
    	</property>
    	<property name="name">
    		<value>fsFlowManagerService</value>
    	</property>    	
    </bean>  
    

</beans>