body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #0076A1;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    text-align: left !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #0082B6;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    height: auto;
}
strong, em, dt, b, i {
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
a {
    color: #0076A1;
    outline: medium none !important;
}
a:hover {
    color: #CC6D00;
    text-decoration: underline;
}
a img {
    border: medium none;
}
div {
	padding: -1;
    outline: medium none !important;
}
blockquote {
    font-style: normal;
}
li p {
    margin-bottom: 0;
}
li blockquote {
    margin: 0;
}
table, td, th {
    vertical-align: baseline;
}
.error, .notice, .success {
    background: none repeat scroll 0 0 transparent;
    border: 0 none transparent;
    margin-bottom: 0;
    padding: 0;
}
.selfclear:after {
	background: url("./chrome/background.png") scroll 0 0;
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.selfclear {
    display: inline-block;
}
.selfclear {
    display: block;
}
* html .selfclear {
    height: 1px;
}
* html .pngfix {
}
.leftwise {
    float: left;
}
.rightwise {
    float: right;
}
.nobreak {
    white-space: nowrap;
}
.hidden {
    display: none;
}
.wrap {
    margin: 0 auto;
    padding: 0;
    width: 990px;
}
#header {
    background: url("./chrome/background.jpg") scroll 0 100%;
	/*box-shadow: -1px -7px 50px 4px #FFF inset ;
	-moz-box-shadow: -1px -7px 50px 4px #FFF inset ;
	-webkit-box-shadow: -1px -7px 50px 4px #FFF inset ;*/
}
#main {
    background: url("./chrome/background.jpg") scroll 0 0;
	/*box-shadow: 0px 4px 40px 10px #FFF inset ;
	-moz-box-shadow: 0px 4px 40px 10px #FFF inset ;
	-webkit-box-shadow: 0px 4px 40px 10px #FFF inset ;*/
}
#content {

   /* background: url("./chrome/content-bg-line.png") scroll 0 0;*/
	
	/*border: 8px solid #2DDB59;*/
	/*-moz-border-colors: #2DDB59 #FFF;*/
	box-shadow: 0px 4px 40px 10px #464646 inset ;
	-moz-box-shadow: 0px 4px 40px 10px #464646 inset ;
	-webkit-box-shadow: 0px 4px 40px 10px #464646 inset ;
	background-color: #FFF;
    color: #262523;
    float: left;
    font-size: 1.2em; 
    margin: 0px 0 0;
    padding: 16px 28px 0 22px;
    width: 740px;
}
#sidebar {
    color: #0076A1;
    float: left;
    margin: 0 0 0 10px;
    padding: 180px 0 0;
    width: 190px;
}
* html #sidebar {
    margin: 0 -5px 0 5px;
}
#footer {
    background: url("./chrome/footer-bg.png") repeat-x scroll 0 0;
    color: #474747;
    font-size: 0.84em;
    padding: 55px 0 75px;
    text-align: center;
}
#header .wrap {
    height: 134px;
    overflow: hidden;
    padding: 1px 0 0;
    position: relative;
}
#logo a {
    background: url("./chrome/geobatch-icon_title.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 132px;
    margin: 0px 0 0;
    overflow: hidden;
    text-indent: -9999em;
    width: 600px;
}
#account-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: 1.2em;
}
#account-nav a {
    color: #0076A1;
    text-decoration: none;
}
#account-nav a:hover {
    color: #72A629;
}
#account-nav li {
    border-right: 1px solid #C6E09B;
    display: inline;
    list-style-type: none;
    padding: 0 0.8em;
}
#account-nav li.last {
    border-right: 0 none transparent;
    padding: 0 0 0 0.8em;
}
#top-nav {
    bottom: 42px;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    right: 195px;
}
#top-nav li {
    border-left: 1px solid #C6E09B;
    display: inline;
    margin: 0;
    padding: 0 8px;
}
#top-nav li:first-child, #top-nav li.first {
    border-left: 0 none;
}
#top-nav li a {
    color: #0076A1;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
#top-nav li a:hover {
    color: #72A629;
}
#quick-search {
    background: url("./chrome/search-box.png") no-repeat scroll left top transparent;
    bottom: 40px;
    height: 28px;
    position: absolute;
    right: 0;
    width: 190px;
}
#quick-search legend {
    display: none;
}
#quick-search fieldset {
	background: url("./chrome/toc-contrast-bg.png") no-repeat scroll 0 100% #CEE4A6;
    border: 0 none color: #FFFFFF;
    float: none;
    margin: 0;
    padding: 0;
}
#quick-search #quick-search-query {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #72A629;
    font-size: 0.92em;
    margin: 5px 0 0 8px;
    padding: 3px 0;
    width: 145px;
}
#quick-search #quick-search-submit {
    position: absolute;
    right: 5px;
    top: 6px;
}
#content #breadcrumbs {
    border-bottom: 1px solid #C6E09B;
    color: #C6E09B;
    font-size: 0.85em;
    margin: 0 0 1em;
    padding: 0 0 0.5em;
}
#content #breadcrumbs li {
    display: inline;
    list-style-type: none;
}
#content #breadcrumbs a {
    color: #72A629;
    text-decoration: none;
}
#content #breadcrumbs a:hover {
    color: #26B2DD;
}
#content h1 {
    background: none repeat scroll 0 0 #F3F3F3;
    padding: 4px;
}
#content h2, #content h3, #content h4 {
    border-bottom: 2px solid #E4F1D0;
    padding: 0 4px;
}
#content #relatedlinks {
    margin: 0;
    padding: 0;
}
#content #relatedlinks li {
    float: right;
    list-style-type: none;
}
#content #relatedlinks li a {
    padding: 0 0.5em;
}
#content #relatedlinks li.first a {
    padding: 0 0 0 0.5em;
}
#content .section {
    overflow: hidden;
}
#content h1 {
    font-size: 2em;
    margin: 0.2em 0 0.3em;
}
#content h2 {
    font-size: 1.75em;
}
#content abbr, #content acronym {
    border-bottom: 0 none transparent;
}
#content img {
    margin-bottom: 10px;
}
#content .figure img {
    border: 1px solid #888888;
    box-shadow: 0.33em 0.33em 0.17em #888888, 0.33em 0.33em 1em rgba(0, 0, 0, 0.3);
}
ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}
ul.search li {
    background-image: url("./chrome/file.png");
    background-position: 0 7px;
    background-repeat: no-repeat;
    padding: 5px 0 5px 20px;
}
ul.search li a {
    font-size: 1.1em;
    font-weight: bold;
}
ul.search li div.context {
    color: #888888;
    margin: 2px 0 0 30px;
    text-align: left;
}
ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}
.docwarning {
    background-color: #FFE4E4;
    border-bottom: 1px solid #FF6666;
    margin: 0;
    padding: 10px;
}
p.subhead {
    font-weight: bold;
    margin-top: 20px;
}
p.caption {
    text-align: inherit;
}
#content td {
    text-align: left;
}
ul.fakelist {
    list-style: none outside none;
    margin: 10px 0 10px 20px;
    padding: 0;
}
.field-list ul {
    padding-left: 1em;
}
.first {
    margin-top: 0 !important;
}
p.rubric {
    font-weight: bold;
    margin-top: 30px;
}
div.admonition {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
}
div.admonition dt {
    font-weight: bold;
}
div.admonition dl {
    margin-bottom: 0;
}
div.admonition p.admonition-title + p {
    display: inline;
}
div.seealso {
    background-color: #FFFFCC;
    border: 1px solid #FFFF66;
}
div.warning {
    background-color: #FFE4E4;
    border: 1px solid #FF6666;
}
div.note {
    background-color: #9BE4FF;
    border: 1px solid #068ABB;
}
p.admonition-title {
    display: inline;
    font-weight: bold;
    margin: 0 10px 5px 0;
}
p.admonition-title:after {
    content: ":";
}
table.docutils {
    border: 0 none;
}
table.docutils td, table.docutils th {
    border-color: -moz-use-text-color -moz-use-text-color #AAAAAA;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 1px 8px 1px 0;
}
table.field-list td, table.field-list th {
    border: 0 none !important;
}
table.footnote td, table.footnote th {
    border: 0 none !important;
}
.field-list ul {
    margin: 0;
    padding-left: 1em;
}
.field-list p {
    margin: 0;
}
dl {
    clear: both;
    margin-bottom: 15px;
}
dd p {
    margin-top: 0;
}
dd ul, dd table {
    margin-bottom: 10px;
}
dd {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 3px;
}
.refcount {
    color: #006600;
}
dt:target, .highlight {
    background-color: #FBE54E;
}
dl.glossary dt {
    font-size: 1.1em;
    font-weight: bold;
}
th {
    padding-right: 5px;
    text-align: left;
}
pre {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEFFCC;
    border-color: #AACC99 -moz-use-text-color;
    border-style: solid none;
    border-width: 1px medium;
    color: #333333;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
td.linenos pre {
    background-color: transparent;
    border: 0 none;
    color: #AAAAAA;
    padding: 5px 0;
}
table.highlighttable {
    margin-left: 0.5em;
}
table.highlighttable td {
    padding: 0 0.5em;
}
tt {
    background-color: #ECF0F3;
    font-size: 0.95em;
    padding: 0 1px;
}
tt.descname {
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
}
tt.descclassname {
    background-color: transparent;
}
tt.xref, a tt {
    background-color: transparent;
    font-weight: bold;
}
.footnote:target {
    background-color: #FFFFAA;
}
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}
.optional {
    font-size: 1.3em;
}
.versionmodified {
    font-style: italic;
}
form.comment {
    background-color: #EEEEEE;
    margin: 0;
    padding: 10px 30px;
}
form.comment h3 {
    background-color: #326591;
    color: white;
    font-size: 1.4em;
    margin: -10px -30px 10px;
    padding: 5px;
}
form.comment input, form.comment textarea {
    border: 1px solid #CCCCCC;
    font-family: sans-serif;
    font-size: 100%;
    padding: 2px;
}
form.comment input[type="text"] {
    width: 240px;
}
form.comment textarea {
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
}
.system-message {
    background-color: #FFDDAA;
    border: 3px solid red;
    padding: 5px;
}
img.math {
    vertical-align: middle;
}
div.math p {
    text-align: center;
}
span.eqno {
    float: right;
}
#sidebar a {
    text-decoration: none;
}
#sidebar a:hover {
    text-decoration: underline;
}
#download-link {
    background: url("./chrome/download-link.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 120px;
    margin: -145px -5px 23px;
    overflow: hidden;
    text-indent: -9999em;
    width: 210px;
}
#sidebar .section {
    border-bottom: 2px solid #E4F1D0;
    margin: 0;
    padding: 0.9em 0;
}
#sidebar .section h3 {
	background: url("./chrome/toc-contrast-top-bg.png") no-repeat scroll 0 0 #76AE23;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
#sidebar .section ul {
	background: url("./chrome/toc-contrast-bg.png") no-repeat scroll 0 100% transparent;
    margin: 0;
    padding: 0;
}
#sidebar .section li {
    list-style-type: none;
    margin: 0 0 0.2em;
    padding: 0 0.3em 0 1em;
}
#sidebar .section li:before {
    content: " - ";
    margin: 0 0 0 -1em;
}
#sidebar #toc {
    border-bottom: 0 none transparent;
    margin: -143px 0 20px;
    padding: 0;
}
#sidebar.contrast #toc h3 {
    background: url("./chrome/toc-contrast-top-bg.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    padding: 0.75em 1em;
}
#sidebar.contrast #toc ul {
    background: url("./chrome/toc-contrast-bg.png") no-repeat scroll 0 100% transparent;
    border-width: 0 1px;
    min-height: 95px;
    padding: 0.3em 0 0.75em;
}
* html #sidebar.contrast #toc ul {
    background: url("./chrome/toc-contrast-bg.gif") no-repeat scroll 0 100% transparent;
}
#sidebar.contrast #toc ul ul {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    min-height: 0;
    padding: 0;
}
#sidebar #toc li:before {
    content: "";
    margin: 0;
}
#sidebar #toc ul ul li:before {
    content: " - ";
    margin: 0 0 0 -1em;
}
#blog-callout {
    background: url("./chrome/blog-callout-bg.png") no-repeat scroll 0 100% #5CC1E6;
    color: #FFFFFF;
    margin: 0.9em 0 0;
    padding: 0 0 15px;
}
#blog-callout dt {
    background: url("./chrome/blog-callout.png") no-repeat scroll 0 0 transparent;
    height: 58px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-indent: -9999em;
}
#blog-callout dt strong a {
    background: url("./chrome/blog-callout.png") no-repeat scroll -10px -15px transparent;
    height: 28px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 155px;
}
#blog-callout dt a.rss {
    background: url("./chrome/blog-callout-rss.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}
#blog-callout dd {
    color: #FFFFFF;
    margin: 0 0 0 0.5em;
}
#blog-callout dd a {
    color: #FFFFFF;
}
.rssMacro table th, .rssMacro table td {
    border: 0 none transparent;
}
#blog-callout .rssMacro table td {
    font-size: 0.9em;
    margin: 0 0 0.2em;
    padding: 0 4px 0 1em;
}
#blog-callout .rssMacro table td b {
    font-weight: normal;
}
#blog-callout .rssMacro table td:before {
    color: #FFFFFF;
    content: "» ";
    margin: 0 0 0 -1em;
}
#footer p {
    color: #D9D9D9;
    margin: 0;
    padding: 1em 0 0;
}
#footer strong, #footer em, #footer dt, #footer b, #footer i {
    color: #D9D9D9;
}
#footer a {
    color: #FFFFFF;
    text-decoration: none;
}
#footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
a.headerlink {
    color: #C60F0F;
    margin-left: 6px;
    padding: 0 4px;
    text-decoration: none;
    visibility: hidden;
}
h1:hover a.headerlink, h2:hover a.headerlink, h3:hover a.headerlink, h4:hover a.headerlink, h5:hover a.headerlink, h6:hover a.headerlink, dt:hover a.headerlink {
    visibility: visible;
}
a.headerlink:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;
}
.pagination-nav {
    border-top: 2px solid #E4F1D0;
    margin: 1em 0 0;
}
table.no-border td, table.no-border th {
    border-bottom: 0 none;
}