<?xml version="1.0" encoding="UTF-8"?>

<beans default-init-method="init" default-destroy-method="dispose"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
	<!-- Environment Initialization -->
	
	<!-- E-GEOS DERIVED SAR PRODUCTS fluxes  -->	
	<bean id="EGEOSSARWindGeneratorService" class="it.geosolutions.geobatch.egeos.wind.SARWindGeneratorService">
		<constructor-arg type="String"><value>EGEOSSARWindGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>EGEOSSARWindGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>EGEOSSARWindGeneratorService</value></constructor-arg>	
	</bean>

	<bean id="EGEOSSARWaveGeneratorService" class="it.geosolutions.geobatch.egeos.wave.SARWaveGeneratorService">
		<constructor-arg type="String"><value>EGEOSSARWaveGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>EGEOSSARWaveGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>EGEOSSARWaveGeneratorService</value></constructor-arg>	
	</bean>
    
</beans>