<?xml version="1.0" encoding="UTF-8"?>

<beans default-init-method="init" default-destroy-method="dispose"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
		 
	<!-- Environment Initialization -->
	
	<!-- E-GEOS DERIVED SAR PRODUCTS fluxes  -->	
	<bean id="EGEOSSARWindGeneratorService" class="it.geosolutions.geobatch.egeos.wind.SARWindGeneratorService">
		<property  name="id">
    		<value>EGEOSSARWindGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>EGEOSSARWindGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>EGEOSSARWindGeneratorService</value>
    	</property>	
	</bean>

	<bean id="EGEOSSARWaveGeneratorService" class="it.geosolutions.geobatch.egeos.wave.SARWaveGeneratorService">
		<property  name="id">
    		<value>EGEOSSARWaveGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>EGEOSSARWaveGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>EGEOSSARWaveGeneratorService</value>
    	</property>	
	</bean>

	<!-- Camel Integration example -->
	<camelContext xmlns="http://camel.apache.org/schema/spring">

		<!-- lets parse files, transform them with XQuery and send them to JMS -->
		<route>
			<from uri="file:src/data?noop=true" />
			<to uri="xquery:myTransform.xquery" />
			<to uri="jms:MyQueue" />
		</route>

		<!-- now lets write messages from the queue to a directory -->
		<route>
			<from uri="jms:MyQueue" />
			<to uri="file:target/outputFiles" />
		</route>

	</camelContext>
	<!-- lets configure the default ActiveMQ broker URL -->
	<bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
		<property name="connectionFactory">
	    	<bean class="org.apache.activemq.ActiveMQConnectionFactory">
	    		<property name="brokerURL" value="vm://localhost?broker.persistent=false"/>
	     	</bean>
	    </property>
	</bean>
    
</beans>