<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
        default-init-method="init" default-destroy-method="dispose">

		 
	<!-- Environment Initialization -->
	
	<bean id="FreeMarkerGeneratorService" class="it.geosolutions.geobatch.actions.freemarker.FreeMarkerGeneratorService">
		<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
	</bean>
	
	<bean id="FreeMarkerAliasRegistrar" class="it.geosolutions.geobatch.actions.freemarker.FreeMarkerAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
 
</beans>