<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

		 
	<!-- Environment Initialization -->
	
	<bean id="FreeMarkerGeneratorService" class="it.geosolutions.geobatch.actions.freemarker.FreeMarkerGeneratorService">
		<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>FreeMarkerGeneratorService</value></constructor-arg>
	</bean>
	
	<bean id="FreeMarkerAliasRegistrar" class="it.geosolutions.geobatch.actions.freemarker.FreeMarkerAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>
 
</beans>