<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-init-method="init" default-destroy-method="dispose">

    <import resource="applicationContext-listeners.xml"/>

    <bean class="it.geosolutions.geobatch.annotations.ActionServicePostProcessor" />
    
    <!-- GB Global Settings ================================================ -->

    <bean id="settingsCatalog" class="it.geosolutions.geobatch.settings.GBSettingsCatalogImpl">
        <property name="settingsDAO" ref="settingsDAO"/><!-- DEPENDS FROM GB-DAO-XSTREAM!!!! -->
    </bean>

    <bean id="settingsProcessor" class="it.geosolutions.geobatch.settings.GBSettingsProcessor" lazy-init="false">
        <property name="settingsDAO" ref="settingsDAO"/>
        <property name="settingsCatalog" ref="settingsCatalog"/>
    </bean>

    <!-- GB Global Settings ================================================ -->

    <bean id="jaiSettingsListener" class="it.geosolutions.geobatch.settings.jai.JAISettingsListener" lazy-init="false">
    </bean>

	<bean id="FlowSettingsListener" class="it.geosolutions.geobatch.settings.flow.FlowSettingsListener" lazy-init="false">
    </bean>

</beans>
