<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="geoserverRESTRegistrar" class="it.geosolutions.geobatch.geoserver.rest.GeoServerRESTAliasRegistrar" lazy-init="false">
        <constructor-arg ref="aliasRegistry" />
    </bean>

	<!-- Environment Initialization -->
	<bean id="geoServerRESTGeneratorService" class="it.geosolutions.geobatch.geoserver.rest.GeoServerRESTConfiguratorService">
		<constructor-arg type="String"><value>geoServerRESTGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>geoServerRESTGeneratorService</value></constructor-arg>
    	<constructor-arg type="String"><value>geoServerRESTGeneratorService</value></constructor-arg>	
	</bean>
</beans>